{{#if hasItems}}
<div id="table">
<h2>Ordered</h2>
<ul>
	{{#each orderedItem in model.orderItems}}
	<li>
		{{orderedItem.number}} x {{orderedItem.id}} - {{orderedItem.state}}
	</li>
	{{/each}}
</ul>	

Total: £{{model.total}}
</div>
{{/if}}